<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="authorization_endpoint"
          href="https://indieauth.com/auth">

    <link rel="token_endpoint"
          href="https://tokens.indieauth.com/token">
</head>

<body>

<header>
    <nav>
        <!-- /about/ instead of .html -->
        <a href="/">Home</a>
        <a href="/README.html">About</a>
    </nav>
</header>

<main>
    {{ content }}
</main>

</body>
</html>